layout {
	pane split_direction="vertical" {
		
	}
	pane split_direction="vertical" {
		pane command="pnpm"  {
			args "server:dev"
		}
		pane name="server sql watch" command="pnpm" {
			args "run" "--filter" "./packages/server" "sql2ts:watch"
		}
	}
	pane split_direction="vertical" {
		pane command="pnpm"  {
			args "nodejs:dev"
		}
	}

}
